*{
    color: #e1e7e7;
    /* rgb(225,231,231); */
    color: #d9c3b0;
    /* rgb(217,195,176); */
    color: #a13228;
    /* rgb(185,101,93); */
    color: #436687;
    /* rgb(67,102,135); */
    color: #263955;
    /* rgb(38,57,85); */
}